<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CupMetric</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
@*     <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
          rel="stylesheet" /> *@
   @*  <link rel="stylesheet" href="https://unpkg.com/mobile-select@latest/dist//style/mobile-select.css" /> *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CupMetric.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <header class="row justify-content-center py-3">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark rounded-3 bg-opacity-10 box-shadow mb-3">
                <div class="container-fluid">
                    <div class="col-md-3 mb-2 mb-md-0">
                        <a class="navbar-brand ml-5" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/cupmetric-logo.png" style="width:50px;" /><span>CupMetric</span></a>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center text-center">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Converter" asp-action="Index">Calculadora</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Recetas" asp-action="Index">Recetas</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 navbar-collapse collapse justify-content-end align-items-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                            </li>                            
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Panel admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="">Log Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div class="container-fluid px-0">
            @RenderBody()
    </div>

    <footer class="footer text-dark">
        <div class="container">
            &copy; 2024 - CupMetric - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   @*  <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* <script src="https://unpkg.com/mobile-select@latest/dist/mobile-select.iife.min.js"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
