@{
    //string usuario = Context.Session.GetString("USUARIO");
    //string idRole = Context.Session.GetString("IDROL");
    bool session = Context.User.Identity.IsAuthenticated;
    var userName = Context.User.FindFirstValue(ClaimTypes.Name);
    var role = Context.User.FindFirstValue(ClaimTypes.Role);
}

@if (!session)
{
    <li class="nav-item">
        <a asp-controller="Managed" asp-action="Personal"
           class="nav-link">
            Iniciar Sesión
        </a>
    </li>
}
else
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @userName
        </a>
        <ul class="dropdown-menu">
            @if (int.Parse(role) == 2)
            {
                <!--Admin-->
                <li><a class="dropdown-item text-dark" asp-controller="Admin" asp-action="Index">Panel admin</a></li>
            }
            else
            {
                <li><a class="dropdown-item text-dark" asp-controller="Managed" asp-action="Personal">Personal</a></li>
            }
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-dark" asp-controller="Managed" asp-action="Logout">Cerrar sesión</a></li>
        </ul>
    </li>

}