@{
    string usuario = Context.Session.GetString("USUARIO");
    string idRole = Context.Session.GetString("IDROL");
}

@if (usuario == null && idRole==null)
{
    <li class="nav-item">
        <a asp-controller="User" asp-action="Login"
           class="nav-link">
            Iniciar Sesión
        </a>
    </li>
}
else
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @usuario
        </a>
        <ul class="dropdown-menu">
            @if (int.Parse(idRole) == 2)
            {
                <!--Admin-->
                <li><a class="dropdown-item text-dark" asp-controller="Admin" asp-action="Index">Panel admin</a></li>
            }
            else
            {
                <li><a class="dropdown-item text-dark" asp-controller="User" asp-action="Personal">Personal</a></li>
            }
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-dark" asp-controller="User" asp-action="Logout">Cerrar sesión</a></li>
        </ul>
    </li>

}