<section class="text-center text-lg-start">
    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
                    <div class="card-body p-5 shadow-5 text-center">
                        @if (ViewData["MENSAJE"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewData["MENSAJE"]
                                <br />
                                <a asp-controller="Managed" asp-action="Personal">Inicie sesión</a>
                            </div>
                        }

                        <h2 class="fw-bold mb-5">Registrate</h2>
                        <form method="post">

                            <!-- Name input -->
                            <div class="form-outline mb-4" data-mdb-input-init>
                                <input type="text" id="formNombre" name="nombre" class="form-control" placeholder="Introduce nombre completo" />
                                <label class="form-label" for="form3Example1">Nombre completo</label>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="email" id="formEmail" name="email" class="form-control" placeholder="Introduce correo" />
                                <label class="form-label" for="form3Example2">Correo electrónico</label>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <input type="password" id="formPassword" name="password" class="form-control" placeholder="Introduce contraseña" />
                                <label class="form-label" for="form3Example3">Contraseña</label>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">
                                Enviar
                            </button>

                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="~/images/login-wallpaper.jpg" class="w-100" alt="Wallpaper" />
            </div>
        </div>
    </div>
