@{
    ViewData["Title"] = "Conversor";
}
<div class="container pt-5 mt-sm-2 mt-lg-5 col-xl-8 col-md-10 col-sm-12 bg-body 
rounded-3 bg-opacity-10 box-shadow minh-50">
    <div class="row">

        <form method="post">
            <div class="container">
                <h1 class="text-center text-body">Conversor</h1>

                <div class="row px-5 py-3">
                    <div class="col-sm-12 col-md-6">
                        <!-- Number input -->
                        <div class="form-outline mb-4 align-items-center text-center">
                            <input type="number" id="formNumber" name="cantidad" class="form-control form-control-lg transparent-input text-center" min="0" placeholder="Introduce cantidad"/>
                            <label class="form-label" for="formNumber">Cantidad</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="form-outline mb-4 align-items-center text-center" data-mdb-input-init>
                            <select class="form-select-lg transparent-select w-100 rounded-2">
                                <option>gramos</option>
                                <option>mililitros</option>
                                <option>kilos</option>
                                <option>litros</option>
                            </select>
                            <label class="form-label" for="formNumber">Unidad</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-2 text-center">
                        <button class="btn rounded-circle fs-3"><i class="bi bi-caret-right-fill"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    @if (Model != null)
    {
    <hr />
    <div class="row py-5 px-4">
        <div class="col-12">
            <h1>Medidas</h1>
            <div class="col-12">
                <div class="col-6 col-sm-4 col-md-3 text-center">
                    <img src="..." class="img-fluid" style="width:100px;height:100px"/>
                    <h4>Cuchara x 1</h4>
                </div>
            </div>
        </div>
    </div>

    }
</div>






<style>
    .minh-50 {
        min-height: 50vh;
    }
</style>