@{
    ViewData["Title"] = "Conversor";
    var ingredientes = ViewData["INGREDIENTES"] as List<Ingrediente>;
}

<div class="container pt-5 mt-sm-2 mt-lg-5 col-xl-8 col-md-10 col-sm-12 bg-body
rounded-3 bg-opacity-10 box-shadow minh-50">
    <div class="row">

        <form method="post">
            <div class="container">
                <h1 class="text-center text-body">Conversor</h1>

                <div class="row px-5 py-3">
                    <div class="col-sm-12">
                        <div class="mb-4 align-items-center text-center">
                            <select name="ingrediente" id="selectIngredientes" class="form-select form-select-lg text-center w-100" lang="es">
                                @foreach (Ingrediente ingr in ingredientes)
                                {
                                    <option value="@ingr.IdIngrediente">@ingr.Nombre</option>
                                }
                            </select>
                            <label class="form-label d-block" for="formNumber">Ingrediente</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <!-- Number input -->
                        <div class="form-outline mb-4 align-items-center text-center">
                            <input type="number" id="formNumber" name="cantidad" class="form-control form-control-lg transparent-input text-center" min="0" placeholder="Introduce cantidad" />
                            <label class="form-label" for="formNumber">Cantidad</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="form-outline mb-4 align-items-center text-center" data-mdb-input-init>
                            <select class="form-select-lg transparent-select w-100 rounded-2" name="unidad" id="formUnidad">
                                <option value="1">gramos</option>
                                <option value="2">mililitros</option>
                                <option value="3">kilos</option>
                                <option value="4">litros</option>
                            </select>
                            <label class="form-label" for="formUnidad">Unidad</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-2 text-center">
                        <button class="btn rounded-circle fs-3"><i class="bi bi-caret-right-fill"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    @if (ViewData["UTENSILIOS"] != null)
    {
        var utensilios = ViewData["UTENSILIOS"] as List<Utensilio>;

        <hr />
        <div class="row px-4">
            <div class="col-12">
                <h1 class="text-center">Medidas</h1>
                <div class="row">
                    @foreach(Utensilio utensilio in utensilios)
                    {
                    <div class="col-6 col-sm-4 col-md-3 text-center">
                        <img src="~/images/tools/@utensilio.Imagen" class="img-fluid" style="width:100px;height:100px" />
                        <h4>@utensilio.Nombre</h4>
                        <p class="text-primary fs-6">*Medida aproximada: @utensilio.Volumen ml</p>
                    </div>

                    }
                </div>
            </div>
        </div>
    }
</div>


<style>
    .minh-50 {
        min-height: 50vh;
    }
</style>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/select2.min.js"></script>

    @* <script src="~/js/es.js"></script> *@
    <script>
        $(document).ready(function () {
            //$.fn.select2.defaults.set('language', 'es');
            $('#selectIngredientes').select2({
                theme: 'bootstrap-5',
                dropdownAutoWidth: true,
                selectOnClose: true
            });
        });
    </script>
}