@{
    ViewData["Title"] = "Conversor";
}
<div class="container">
    <div class="row">
        <h1 class="text-center text-muted">Conversor de Unidades</h1>

        <form method="post">
            <!-- Number input -->
            <div class="form-outline mb-4" data-mdb-input-init>
                <input type="number" id="formNumber" name="cantidad" class="form-control" />
                <label class="form-label" for="formNumber">Cantidad</label>
            </div>
        </form>
    </div>
</div>
