@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1>Inicio</h1>
    <div class="">
        <a class="btn btn-sm btn-dark" asp-controller="Converter" asp-action="Index">Acceda a la conversión</a>
        <a class="btn btn-sm btn-dark" asp-controller="User" asp-action="Login">Inicia sesión</a>
    </div>
    
</div>
