@{
    ViewData["Title"] = "Inicio";
}

<!--style="background: linear-gradient(to bottom right,lightgray, darkgray);"-->
<div class="container-fluid p-5 minh-75 calculator-image-container">
    <div class="d-flex justify-content-center align-items-center overlay-calculator text-center">
        <div class="text-center">
            <h2 class="fw-bold text-light">Cupmetric</h2>
            <h4 class="fw-bold text-light">
                Tu herramienta de conversión de medidas
                y deliciosas recetas para probar en casa.
            </h4>
            <br />
            <a class="btn btn-lg btn-outline-light" asp-controller="Converter" asp-action="Index">Acceda a la conversión</a>
            <a class="btn btn-lg btn-outline-light" asp-controller="User" asp-action="Login">Inicia sesión</a>
        </div>
    </div>
</div>
<br />
@* <div class="container-fluid text-center" style="background: linear-gradient(to bottom right,lightgray, darkgray);">
    <h1>Inicio</h1>
    <div class="row align-items-center">
        <div class="col-md-6 fs-5">
            <p>En nuestra página web, puedes encontrar una variedad de herramientas útiles de conversión y deliciosas recetas para probar en casa.</p>
            <p>
                Pero eso no es todo. Nos esforzamos por hacer de tu experiencia culinaria algo más emocionante y sostenible. ¿Tienes ingredientes
                que están a punto de vencer en tu despensa? ¡No te preocupes! Nuestra calculadora de unidades también te ofrece la posibilidad de
                buscar recetas de aprovechamiento utilizando esos ingredientes. Encontrarás una amplia variedad de recetas deliciosas y creativas para
                aprovechar al máximo lo que tienes a mano.
            </p>
            <p>¿Qué te gustaría hacer hoy?</p>
        </div>
        <div class="col-md-6"><img src="~/images/cupmetric-logo.png" style="width:350px" /></div>
    </div>
    <div class="">
        <a class="btn btn-sm btn-dark" asp-controller="Converter" asp-action="Index">Acceda a la conversión</a>
        <a class="btn btn-sm btn-dark" asp-controller="User" asp-action="Login">Inicia sesión</a>
    </div>

</div> *@

