html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(to bottom right,#FF5733, #FFA07A);
}

footer {
    background: linear-gradient(to right, #99fdef, #2cefc0);
}

/**{
    border:1px solid black;
}*/

input.transparent-input {
    background-color: transparent !important;
    border: none !important;
    box-shadow: 2px 15px 18px -18px rgba(0,0,0,0.75);
    border-bottom: 1px solid black !important;
}
select.transparent-select {
    background-color: transparent !important;
    border: none !important;
    box-shadow: 2px 15px 18px -18px rgba(0,0,0,0.75);
    border-bottom: 1px solid black !important;
}
