html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: rgb(143,156,152);
}

footer {
    background: #A0ABA7
}

.minh-50 {
    min-height: 50vh;
}
.minh-75 {
    min-height: 75vh;
}
.calculator-image-container {
    position:relative;
    background-image: url('../images/calculadora.jpg');
    background-size: cover;
    background-position: center;
}
.overlay-calculator {
    position: absolute; /* Posicionamiento absoluto para que cubra todo el contenedor */
    top: 0;
    left: 0;
    width: 100%; /* Cubrir completamente el contenedor */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
/**{
    border:1px solid black;
}*/
input.transparent-input {
    /*background-color: transparent !important;*/
    border: none !important;
    box-shadow: 2px 15px 18px -18px rgba(0,0,0,0.75);
    border-bottom: 1px solid black !important;
}
select.transparent-select {
    /*background-color: transparent !important;*/
    border: none !important;
    box-shadow: 2px 15px 18px -18px rgba(0,0,0,0.75);
    border-bottom: 1px solid black !important;
}


.select2-results ul li {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #191919 !important;
}

.select2-container .select2-selection--single {
    height: 36px;
    box-shadow: 2px 15px 18px -18px rgba(0,0,0,0.75) !important;
    border-bottom: 1px solid black !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height:28px;
    font-size: 18px;
    text-align: center;
}


.select2-container--default .select2-selection--single .select2-selection__arrow {
    position: absolute;
    top: 1px;
    width: 16px;
    height: 36px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin-top: -2px;
    margin-left: -8px;
    border-width: 5px 4px 0 4px;
    border-style: solid;
    
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: #fff !important;
 }

.select2-selection--single, .select2-selection {
    border: 1px solid #ffffff1f !important;
    border-radius: 5px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    border-radius: 5px;
}

.select2-dropdown {
    position: absolute;
    z-index: 1051;
    left: 1px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #aaa;
    padding: 4px;
    font-size: 16px;
}

.select2-dropdown, .autocomplete-suggestions {
    border: none !important;
    border: 1px solid darkgray !important;
    margin-top:5px;
    border-radius: 8px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*SELECCIONADO #494949*/
.select2-results__option--selected {
    background-color: #888888 !important;
}

.select2-container--default, .select2, .select2-container {
    color: #c7d2e6;
}


/*OPCIONES NO SELECCIONADAS #888888*/
.select2-results__option {
    padding: 8px;
    -webkit-user-select: none;
    user-select: none;
    background-color: #aaa !important;
    margin: 8px;
    border-radius: 7px;
}

.select2-results ul li {
    padding-top: 4px;
    padding-bottom: 4px;
    color: #fff !important;
}
/*SELECCIONANDO CON CURSOR*/
.select2-results__option--highlighted {
    background: #2D2D2D !important;
}

.btn-group input[type="radio"] {
    display: none;
}