@model CupMetric.Models.Receta

@{
    ViewData["Title"] = "Crear Receta";
    var categorias = ViewData["CATEGORIAS"] as List<Categoria>;
    var ingredientes = ViewData["INGREDIENTES"] as List<Ingrediente>;
}

<div class="container pt-4 bg-dark bg-opacity-10 p-5">
<h1 class="text-center">Crear Receta</h1>

<h4 class="text-danger">Inserte los campos obligatorios</h4>
<hr />
<div class="row">
    <div >
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" placeholder="Nombre de la receta"/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instrucciones" class="control-label"></label>
                <textarea asp-for="Instrucciones" class="form-control" placeholder="Pasos sin numeración, separadados por puntos"></textarea>
                <span asp-validation-for="Instrucciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategoria" class="control-label">Categoría</label>
                <select asp-for="IdCategoria" class="form-select">
                    @foreach(Categoria cat in categorias)
                    {
                        <option value="@cat.IdCategoria">@cat.Nombre</option>
                    }
                </select>
                <span asp-validation-for="IdCategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiempoPreparacion" class="control-label">Tiempo de preparación</label>
                <input asp-for="TiempoPreparacion" class="form-control" placeholder="Tiempo en minutos" min=0 />
                <span asp-validation-for="TiempoPreparacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ingredientes</label>
                <select class="form-select" id="ingrediente">
                    @foreach (Ingrediente ingr in ingredientes)
                    {
                        <option value="@ingr.IdIngrediente">@ingr.Nombre</option>
                    }
                </select>

            </div>
            <div class="form-group">
                <label for="cantidad">Cantidad</label>
                <input type="number" class="form-control" id="cantidad" placeholder="Ingrese la cantidad en gramos o unidades" min="0">
                    <button type="button" class="btn btn-sm btn-outline-dark" onclick="agregarIngrediente()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                        </svg> Añadir a la lista
                    </button>

            </div>
            <div class="row mt-4">
                    <table class="table table-primary table-borderless w-100">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Ingrediente</th>
                                <th>Cantidad</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tablaIngredientes">
                            <!-- Aquí se agregarán las filas dinámicamente -->
                        </tbody>
                    </table>
            </div>
            <div class="form-group pt-3 text-center">
                <button type="submit" class="btn btn-lg btn-dark">Enviar</button>
            </div>

        </form>
    </div>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var contador = 0;
        var ingredientesAgregados = [];

        function agregarIngrediente() {
            // Obtener valores de los campos
            var ingredienteId = document.getElementById("ingrediente").value;
            var nombreIngrediente = document.getElementById("ingrediente").options[document.getElementById("ingrediente").selectedIndex].text;
            var cantidad = document.getElementById("cantidad").value;

            // Verificar si el ingrediente ya ha sido agregado
            if (ingredientesAgregados.includes(ingredienteId)) {
                alert("¡El ingrediente ya ha sido agregado!");

            } else if(cantidad>0){
                // Agregar fila a la tabla
                var fila = "<tr>" +
                    "<td><input type='number' class='d-none' readonly name='dynamicInputId_" + contador + "' value='" + ingredienteId + "'/></td>" +
                    "<td><input type='text' disabled name='dynamicNombre_" + contador + "' value='" + nombreIngrediente + "'/></td>" +
                    "<td><input type='number' name='dynamicInputCantidad_" + contador + "' min=0 value='" + cantidad + "'/></td>" +
                    "<td><button type='button' class='btn btn-sm btn-danger' onclick='eliminarFila(this)'><i class='bi bi-x'></i></button></td>" +
                    "</tr>";
                document.getElementById("tablaIngredientes").insertAdjacentHTML("beforeend", fila);

                ingredientesAgregados.push(ingredienteId);

                contador++;

                // Limpiar campos
                document.getElementById("cantidad").value = "";
            }
        }

        function eliminarFila(boton) {
            boton.closest("tr").remove();
        }
    </script>

}

